{% extends 'sales/base.html' %}

{% block title %}TRANG KIỂM TRA{% endblock %}

{% block content %}

<div class="alert alert-warning" role="alert">
  <h1 class="alert-heading">TRANG NÀY ĐANG Ở PHIÊN BẢN KIỂM TRA</h1>
  <p>Nếu bạn thấy được nội dung này, có nghĩa là file template đã được cập nhật thành công trên máy chủ.</p>
</div>

<hr>

<h3>Hiển thị Form ở dạng cơ bản nhất:</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}